header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

header span{
    font-size: 1.2rem;
    color:aquamarine;
}
.hamburger{
    background: none;
    border: none;
    color: #cc2c;
    cursor: pointer;
}
.hamburger::after{
    content: "\2630";
    font-size:  2rem;
}
navigation{
    display: none;
}

navigation.show{
    display: block;
}
navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0
    ;
}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color: blue;
    text-decoration: none;
    border-bottom: solid 1px #ddd;

}
.navidation li.current {
    background-color: #fff;
}
 .navigation a::hover{
    background-color: #aaa;
 }
 h1{
    margin-left 10px;
    
 }
 footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
 }
 .social {
display: flex;
justify-content: center;
column-gap: 8px;
 }
 .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
 }
 .social img{
    width: 22px;
    height: 22px;

 }
 .social a:hover{
    background-color: #ddd;
 }