:root {
    --background-color: #f1f7edff;
    --font-color: #243e36ff;
    --primary-color: #7ca982ff;
    --accent-color: #e0eec6ff;
    --secondary-color: #c2a83eff;

    --primary-font: montserrat-fancy, Arial,
        sans-serif;
    --secondary-font: "Edu QLD Beginner",
        Geneva, serif;

    color: var(--font-color);
    margin-left: 15px;
    font-family: var(--secondary-font);
    min-width: 250px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

header img{
    padding: 5px;
}

span {
    font-family: var(--primary-font);
}

.hamburger {
    background: none;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    width: 30px;
    padding: 5px;
    margin: 5px;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    display: block;
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--font-color);
}
nav{
    background-color: var(--primary-color);
}
nav.hidden {
    display: none;
}

nav.show {
    display: block;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: .8rem 10px;
    color: var(--font-color);
    text-decoration: none;
    border-bottom: solid 1px var(--accent-color);

}

/* nav li.current {
    background-color: #fff;
} */

nav a:hover {
    background-color: var(--accent-color);
}
section{
    background-color: var(--accent-color);
    border-radius: 15px;
    border: 2px double var(--secondary-color);
    padding: 10px;
    display: flex; 
    justify-content: center;
    max-width: 300px;
}

section h4 {
    width: 150px;
    padding-left: 10px;
    /* justify-content: center; */
}
h3 {
    font-family: var(--primary-font);
    width: 200px;
    padding-left: 10px;
    /* justify-content: center; */
}

h5 {
    font-family: var(--primary-font);
   margin-top: 0px;
   margin-bottom: 5px;
}
aside{
    background-color: var(--background-color);
    padding-left: 25px;
}
aside img {
    height: auto;
    width: 100px;
    margin-top: 5px;
    justify-items: left;
}
#chamberContact{
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--font-color);
    color: var(--background-color);
    
}
#chamberContact h5{
    margin-left: 15px;
}
.social{
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
    
    border: dotted 8px var(--primary-color);
}
#signature{
    display: grid;
}
@media screen and (min-width: 600px) {
    #businesscards {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 100%;

    }
}

@media screen and (min-width: 870px) {
    #businesscards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        max-width: 100%;

    }
}

@media screen and (min-width: 998px) {
    #businesscards {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        max-width: 100%;

    }
}