.root{
    --background-color: #f1f7edff;
    --font-color: #243e36ff;
    --primary-color: #7ca982ff;
    --accent-color: #e0eec6ff;
    --secondary-color: #c2a83eff;

    --primary-font: montserrat-fancy, Arial,
        sans-serif;
    --secondary-font: "Edu QLD Beginner",
        Geneva, serif;
        
    color: var(--font-color);
    
}
header{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    
}
.hamburger {
    background: none;
    border: none;
    color: var(--font-color);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    display: block;
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--font-color);
}