@media screen and (min-width: 550px){
    .hidden {
        display: unset;
    }
    #ham-btn {
        display: none;
    }
    .aboutAndPhoto {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}