:root {
    --background-color: #f1f7edff;
    --font-color: #243e36ff;
    --primary-color: #7ca982ff;
    --accent-color: #e0eec6ff;
    --secondary-color: #c2a83eff;

    --primary-font: montserrat-fancy, Arial,
        sans-serif;
    --secondary-font: "Edu QLD Beginner",
        Geneva, serif;

    background-color: var(--background-color);
    font-family: var(--primary-font);
    padding: 5px 0 5px 10px;

}